# IMPORTANT NOTE: 
# ignition version 2.1.0 for OpenShift 4.5 and below used "append"
# ignition version 3.1.0 for OpenShift 4.6 ++ used "merge"

{
  "ignition": {
    "config": {
#      "append": [
      "merge": [
        {
          "source": "http://{{ httpd_server }}/bootstrap01.ign",
          "verification": {}
        }
      ]
    },
    "timeouts": {},
#    "version": "2.1.0"    
    "version": "3.1.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {},
  "systemd": {}
}
